.attribution {
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    left: 550px;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

html,
body {
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.box {
    position: relative;
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin-top: auto;
}

.box * {
    position: absolute;
}

.mobile {
    visibility: hidden;
}

.desktop {
    height: 400px;
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.category {
    top: 20px;
    left: 330px;
    color: #0000009e;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.name {
    top: 50px;
    left: 330px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    padding-right: 15px;
}

.discription {
    top: 180px;
    left: 330px;
    font-size: 14px;
    color: rgb(0 0 0 / 68%);
    font-family: 'Montserrat', sans-serif;
}

.price-new {
    top: 270px;
    left: 330px;
    font-weight: bold;
    font-size: 35px;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
}

.price-old {
    top: 285px;
    left: 500px;
    color: rgb(0 0 0 / 68%);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.btn {
    top: 333px;
    left: 325px;
    width: 250px;
    height: 45px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-indent: 20px;
}

.btn:hover {
    background-color: #193f30;
    cursor: pointer ;
}


@media (min-width: 1440px) {
    .box {
        position: relative;
        left: 420px;
        top: 200px;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .box {
        height: 550px;
        width: 310px;
        left: calc(50px / 2);
        top: calc(100px / 2);
    }


    .desktop {
        visibility: hidden;
    }

    .mobile {
        visibility: visible;
        height: 210px;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .category {
        top: 230px;
        left: 20px;
    }

    .name {
        top: 260px;
        left: 20px;
        font-size: 27px;
    }

    .discription {
        top: 335px;
        left: 20px;
        font-size: 12px;
        padding-right: 10px;
    }

    .price-new {
        top: 425px;
        left: 20px;
        font-size: 30px;
    }

    .price-old {
        top: 435px;
        left: 165px;
    }

    .btn {
        top: 480px;
        left: 25px;
    }

    .attribution {
        left: 20px;
    }
}
